<div class = 'left'>
  <h2>New Cohort form</h2>
  <form>
    <h3>Instructor email</h3>
      <input name='instructor_email'type='email' placeholder='person@devbootcamp.com'></input>
    <h3>Boots</h3>
      <ul id='bootList'>
        <li>
          <span>
            <input name='boot0[email]' type='email' placeholder='person@devbootcamp.com'></input>
          </span>
          <span>
            <input name='boot0[email]' type='text' placeholder='person surname'></input>
          </span>
        </li>
      </ul>
      <input type='button' id='addBoot' value='More boots' class='newEntry'>
      <h4>CSV bulk entry</h4>
      <textarea rows='10' cols='80' name='bootBulk'></textarea>
    <h3>Projects</h3>
      <ul id='projectList'>
        <li>
          <span>
            <input name='project0[name]' type='text' placeholder='Animals with hats'></input>
          </span>
          <span>
            <input name='project0[proposer]' type='text' placeholder='boot number 4'></input>
          </span>
          <span>
            <input name='project0[description]' type='text' placeholder='The primier hatted animal search engine'></input>
          </span>
        </li>
      </ul>
      <input type='button' id='addProject' value='More Projects' class='newEntry'>
      <h4>CSV bulk entry</h4>
      <textarea rows='10' cols='80' name='projectBulk'></textarea>
    <input type='submit'>
  </form>
</div>
<div class= 'right'>
  <h2>State of form</h2>
  <h3>Instructor email</h3>
  <h3>Boots</h3>
  <h3>Projects</h3>
</div>

<li class='template' id='bootTemplate'>
  <span>
    <input type='email' placeholder='person@devbootcamp.com'></input>
  </span>
  <span>
    <input type='text' placeholder='person surname'></input>
  </span>
</li>

<li class='template' id='projectTemplate'>
  <span>
    <input type='text' placeholder='Animals with hats'></input>
  </span>
  <span>
    <input type='text' placeholder='boot number 4'></input>
  </span>
  <span>
    <input type='text' placeholder='The primier hatted animal search engine'></input>
  </span>
</li>
